#navbar {
  display: flex;
  flex-wrap: wrap; /* Needed on some mobile displays unfortunately */
  justify-content: space-between;

  --dropdown-background: #00000055;
  --dropdown-hover-background: #00000011;
  --dropdown-selected-background: #00000022;
}

.navbar__pages,
.navbar__styling {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
}
.navbar__styling {
  flex-grow: 1;
  max-width: 12em;
}

/* Page navigation */
.navbar__pages {
  position: relative;
}

.navbar__pages li {
  margin: 0;
  padding: 0 20px;
  align-content: center;
}

.navbar__pages li a,
.nav-dropdown__button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.navbar__pages li a:hover {
  color: #ff9800;
  border-bottom: 2px solid #ff9800;
}

.navbar__pages li a:active {
  color: #f44336;
  border-bottom: 2px solid #f44336;
}

@media (min-width: 1100px) {
  .navbar__pages {
    left: 50%;
    transform: translateX(-50%);
    gap: 2em;
  }
  /* .navbar__pages,
  .navbar__styling {
    flex-grow: 0;
  } */
}

/* Dropdowns */
.nav-dropdown {
  position: relative;
  display: inline-block;
  flex-grow: 1;
}

.nav-dropdown__button {
  padding: 1rem 0px;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.nav-dropdown__list {
  display: none;
  position: absolute;
  min-width: 100%;
  background-color: var(--dropdown-background);
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.nav-dropdown:hover .nav-dropdown__list {
  display: block;
}

.nav-dropdown:hover .nav-dropdown__button {
  background-color: var(--dropdown-background);
}

.nav-dropdown__option {
  color: white;
  background: none;
  border: none;
  width: 100%;
  padding: 0.5em 0px;
  white-space: pre-line;
}
.nav-dropdown__option:last-child {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.nav-dropdown__option:hover {
  background-color: var(--dropdown-hover-background);
}
.nav-dropdown__option--selected {
  background-color: var(--dropdown-selected-background) !important;
}
@media (min-width: 1100px) {
  .navbar__styling {
    margin-right: 1rem;
  }
}