* {
  box-sizing: border-box;
}
.profile {
  margin: auto;
  overflow-y: auto;
  padding-bottom: 12rem;
}

.profile__headshot-image {
  max-height: 20vw;
  border-radius: 8px;
}

.profile__row {
  margin: 1rem auto auto auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.profile__row-image {
  max-height: 12rem;
  border-radius: 8px;
}
.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 1500px) {
  .profile__headshot-image {
    max-width: 100%;
    max-height: 30vh;
  }
  .profile__row {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }
  .profile__row-image {
    max-width: 100%;
  }
}
