@import url(navbar.css);

:root {
  --border-radius: 5px;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  text-align: center;

  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #283048, #859398);
  color: #eaeaea;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5.5px);
  backdrop-filter: blur(5.5px);
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

main {
  padding: 1em 0px 6rem;
  margin: 0px auto;
  width: 40vw;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: none;
}

.page.selected {
  display: flex;
}

.horizontal-bar {
  display: block;
  width: 60%;
  margin: 1rem auto;
  border-top: 1px solid #ccc;
}

.footer {
  background: rgba(31, 31, 31, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6.5px);
  backdrop-filter: blur(6.5px);
  color: #fff;
  padding: 1em 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__text {
  font-weight: 200;
  margin: 0px auto;
}

.footer__img-link {
  width: 3em;
  height: 3rem;
  transition: opacity 0.2s ease-in-out;
}

.footer__img_link:hover {
  opacity: 0.7;
}

/* Phones */
@media (max-width: 1100px) {
  html {
    font-size: 18px;
  }

  main {
    width: 95%;
  }
}

/* Desktop */
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}